.idea/**
.vscode/**
.vscode-test/**
.vscode-test.js
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig.tsbuildinfo
**/.eslintrc.json
**/*.map
**/*.ts
*.tgz
vscode-cedar-wasm/**
development.md
testdata/**
out/test/**
Dockerfile
.dockerignore
.prettierignore
docs/**
.github/**